*{
	margin:0%;
	padding:0%;
}

h1{
	font: bold 20px Tahoma;
}

body{
	width:95%;
	background:black;
}

#big_wrapper{
	width:95%;  /*thelw kenw 20px apo panw kai kato kai gia dexia kai
	aristera to afinw auto*/
	text-align:center; /*to keimeno na einai aristera mesa sto big_wrAPPER*/
	background:black;
	margin-left:5%;
	margin-right:5%;
}

#top_header{
	text-align:center;
	background:black;
	color:white;
	height:15%;
	margin:0px 5px;
}

#top_menu{
	padding:4px;
	margin-top:0px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	background:#black;
	color:white;
}

#top_menu li{
	display:inline-block; /*gia na mhn einai oi selides toy menu h
	mia katw apo thn allh to default einai block gia afto to bazei to
	ena katw apo to allo*/
	list-style:none;
	padding:5px;
	font:bold 14px Tahoma;
	}
	
#main_section{
	float:center;
	width:100%;
	background:black;
}

article{
background:#E00B2F;
color:black;
padding:20px;
font:bold 12px Tahoma;
text-align:left;
margin:5px;
}

article footer{
text-align:right;
}

article header{
text-align:left;
font:bold 17px black;
padding:15px 0px;}



