body
{
   /*Template styles*/
   color: White;
   text-shadow: 2px 2px 2px Black;
   text-transform:capitalize;
   text-align: center;
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-size: 100%;
   background-color: Black;
   
   /*proper positioning defaults*/
   position: absolute;
   border: 0px;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
}

/*header menu styles*/
header nav
{
   background-color: MidnightBlue;
   position: absolute;
   top: 0;
}

/*Main Page,Generic*/
#container
{
   position: absolute;
   left: 0;
   right: 0;
   width: 90%;
   margin: 1.5em auto;
}

article
{
   background-color: blue;
   margin: 1% 0;
   box-shadow: 0px 0px 2px 2px black inset;
   border-radius: 20px;
}

article header
{
   padding: 0;
   margin: 0;
}

article content
{
  text-align: left;
}

article footer
{
   text-align: right;
}

footer
{
   font-size: 0.6em;
}

/*footer menu styles*/
footer nav
{
   background-color: Transparent;
   position: fixed;
   bottom: 0;
}

/*generic header and footer positioning*/
header nav,footer nav
{
   width: 100%;
}

/*Element Positioning*/
.Left,.Center,.Right
{
   padding: 0% 1%;
}

.Left
{
   float: left;
}

.Center
{
}

.Right
{
   float: right;
}

/*transitions,animations and flashy styles*/
a
{
   color: White;
   text-decoration: none;
   transition: all 0.5s ease-out;
}
a:hover
{
   color: Turquoise;
   font-size: 1.5em;
}