body
{
   color: Blue;
   text-align: center;
   text-transform:capitalize;
   font-family:"Times New Roman", Times, serif;
   background-color: Black;
}

#container
{
   width: 100%;
}

a
{
   text-decoration:none;
}

h1
{
   text-shadow: 2px 2px 2px Red;
}

p
{
   text-shadow:1px 1px 2px Red;
}